<html>
<head>
<title>All gear sizes</title>
<style type=text/css>
body { font-family: helvetica;}
img {vertical-align:middle;}
</style>
</head>
<b>
Only print the first page of this file, then selected other pages as needed.<br>
<p>
<img src=12.png width=276 height=276>12<p>
<img src=16.png width=358 height=358>16<p>
<img src=19.png width=418 height=418>19<p>
<img src=20.png width=439 height=439>20<p>
<img src=21.png width=459 height=459>21<p>

<img src=22.png width=479 height=479>22<p>
<img src=23.png width=499 height=499>23<p>
<img src=24.png width=519 height=519>24<p>
<img src=25.png width=540 height=540>25<p>
<img src=26.png width=560 height=560>26<p>
<img src=27.png width=580 height=580>27<p>
<img src=28.png width=600 height=600>28<p>
<img src=29.png width=620 height=620>29<p>
<img src=30.png width=641 height=641>30<p>
<img src=31.png width=661 height=661><br>31<p>
<img src=32.png width=681 height=681><br>32<p>
<img src=33.png width=702 height=702><br>33<p>
<img src=34.png width=721 height=721><br>34<p>
                                           
<img src=35.png width=742 height=742><br>  
<img src=35r.png width=24 height=742> 35<br>  

<img src=36.png  width=762 height=762> <br>
<img src=36r.png width=44 height=762>   36<br>
<img src=37.png  width=782 height=782> <br>
<img src=37r.png width=64 height=782>   37<br>
<img src=38.png  width=803 height=803> <br>
<img src=38r.png width=85 height=803>   38<br>
<img src=39.png  width=822 height=822> <br>
<img src=39r.png width=104 height=822>  39<br>
<img src=40.png  width=843 height=843> <br>
<img src=40r.png width=125 height=843>  40<br>
<img src=41.png  width=862 height=862> <br>
<img src=41r.png width=145 height=862>  41<br>
<img src=42.png  width=883 height=883> <br>
<img src=42r.png width=165 height=883>  42<br>
<img src=43.png  width=904 height=904> <br>
<img src=43r.png width=186 height=904>  43<br>
<img src=44.png  width=924 height=924> <br>
<img src=44r.png width=205 height=924>  44<br>
<img src=45.png  width=943 height=943> <br>
<img src=45r.png width=225 height=943>  45<br>
<img src=46.png  width=964 height=964> <br>
<img src=46r.png width=246 height=964>  46<br>
<img src=47.png  width=984 height=984> <br>
<img src=47r.png width=266 height=984>  47<br>
<img src=48.png  width=1005 height=1005><br>
<img src=48r.png width=287 height=1005>  48<br>
