<html>
<head>
    <title>Screw advance box joint jig plans</title>
    <style type=text/css>
        body { font-family: helvetica; font-size: 100%; }
    </style>
</head>
<h1>1:1 drawings</h1>
<table><td>
<a href="1-1_top_view.png">  <img src="thumbnail/1-1_top_view.png"></a><p>
<td width=10>
<td>
There are several ways these can be printed.  The easiest is to click on
the "PDF" link below each image to open up the PDF file, and print those to
your printer.
<br>
<a href="1-1_top_view.pdf"><b><big>1-1_top_view.pdf</big></b></a>
<p>
<b>Checking the print scale</b><br>
Measure the space between intersections of the diagonal grid, two apart.  This should
be exactly 20 cm.  If it is slightly more or less, your printer, especially if it
is a laser printer, is introducing some scaling.  You can scale the PDF from
acrobat reader for printing.  For example, if you measure 19.8 cm instead of
20.0 cm, then calculate as follows:<p>
20.0 / 19.8 = 1.0101 = 101%
<p>
Then enter that number for the print scale.  In the above example, 101%.
<p>
Laser printers sometimes have some scale errors as much as 1%.  Ink jet printers are much better
at keeping printouts precisely to scale.
<p>
If you have access to a printer that can print on larger sheets of paper
such as 11x17, A3, or a large format printer, you can click on
any of the images below and open it in a graphics program of your choice
and print it at 127 DPI (50 dots per centimeter).  You can also use
the free eval version of my <a href="http://woodgears.ca/bigprint">BigPrint</a>
program to print these (Windows only).  Just download the free eval
of BigPrint, run it, then drag any of the images into BigPrint to open it.
</table>

<table cellspacing=0 cellpadding=0><tr>
<td><a href="1-1_small.png">  <img src="thumbnail/1-1_small.png"></a><p>
<td>
<a href="1-1_small.pdf"><b>1-1_small.pdf</b></a><br>
The image at left only covers one 8.5x11" (A4) page.<br>
The border should be 25x19 cm.
</table>



<h1>Gear templates</h1>
The best way to print gear templates of the correct size is
to print selected pages of <a href="all_sizes.pdf"><b><big>all_sizes.pdf</big></b></a>.<br>
After printing, measure the printout to make sure the grid has 1 cm spacing.
Larger gears are spread over two pages.
<p>
If you are using internet explorer or Firefox, you can also use the HTML files below,
printing at exactly 100%.<br>
check the grid spacing after printing. You can also use an image editing program of your choice to print the images.<br>
Click on the right column to get the bitmap, and print it to the size specified.
All images are at a resolution of 4 pixels per millimeter (101.6 DPI)
<p>
<p>
Finally, you can also use the <a href="http://woodgears.ca/gear_cutting/template.html">
online gear template generator</a> to make the gear shapes.<br>
Use a tooth spacing of 16.8 mm, contact angle of 8 degrees.  Be sure to calibrate
the scale.

<p>
<table><td>
<table border=1 cellspacing=0 cellpadding=3>
<tr><th>Teeth<th>HTMl file<th>Bitmap (width shown)<tr><td> 12 <td><a href="12.html">12-tooth template
<td><a href="12.png">72.5mm
<tr><td> 16 <td><a href="16.html">16-tooth template
<td><a href="16.png">92.5mm
<tr><td> 19 <td><a href="19.html">19-tooth template
<td><a href="19.png">110.0mm
<tr><td> 20 <td><a href="20.html">20-tooth template
<td><a href="20.png">115.0mm
<tr><td> 21 <td><a href="21.html">21-tooth template
<td><a href="21.png">120.0mm
<tr><td> 22 <td><a href="22.html">22-tooth template
<td><a href="22.png">125.0mm
<tr><td> 23 <td><a href="23.html">23-tooth template
<td><a href="23.png">130.0mm
<tr><td> 24 <td><a href="24.html">24-tooth template
<td><a href="24.png">137.5mm
<tr><td> 25 <td><a href="25.html">25-tooth template
<td><a href="25.png">142.5mm
<tr><td> 26 <td><a href="26.html">26-tooth template
<td><a href="26.png">147.5mm
<tr><td> 27 <td><a href="27.html">27-tooth template
<td><a href="27.png">152.5mm
<tr><td> 28 <td><a href="28.html">28-tooth template
<td><a href="28.png">157.5mm
<tr><td> 29 <td><a href="29.html">29-tooth template
<td><a href="29.png">162.5mm
<tr><td> 30 <td><a href="30.html">30-tooth template
<td><a href="30.png">167.5mm
<tr><td> 31 <td><a href="31.html">31-tooth template
<td><a href="31.png">175.0mm
<tr><td> 32 <td><a href="32.html">32-tooth template
<td><a href="32.png">180.0mm
</table>
<td width=15><td valign=top>
<table border=1 cellspacing=0 cellpadding=3>
<tr><th>Teeth<th>HTMl file<th>Bitmap (width shown)

<tr><td> 33 <td><a href="33.html">33-tooth template
<td><a href="33.png">185.0mm
<tr><td> 34 <td><a href="34.html">34-tooth template
<td><a href="34.png">190.0mm
<tr><td> 35 <td><a href="35.html">35-tooth template
<td><a href="35.png">195.0mm
<tr><td> 36 <td><a href="36.html">36-tooth template
<td><a href="36.png">200.0mm
<tr><td> 37 <td><a href="37.html">37-tooth template
<td><a href="37.png">205.0mm
<tr><td> 38 <td><a href="38.html">38-tooth template
<td><a href="38.png">212.5mm
<tr><td> 39 <td><a href="39.html">39-tooth template
<td><a href="39.png">217.5mm
<tr><td> 40 <td><a href="40.html">40-tooth template
<td><a href="40.png">222.5mm
<tr><td> 41 <td><a href="41.html">41-tooth template
<td><a href="41.png">222.8mm
<tr><td> 42 <td><a href="42.html">42-tooth template
<td><a href="42.png">232.5mm
<tr><td> 43 <td><a href="43.html">43-tooth template
<td><a href="43.png">237.5mm
<tr><td> 44 <td><a href="44.html">44-tooth template
<td><a href="44.png">242.5mm
<tr><td> 45 <td><a href="45.html">45-tooth template
<td><a href="45.png">247.5mm
<tr><td> 46 <td><a href="46.html">46-tooth template
<td><a href="46.png">255.0mm
<tr><td> 47 <td><a href="47.html">47-tooth template
<td><a href="47.png">260.0mm
<tr><td> 48 <td><a href="48.html">48-tooth template
<td><a href="48.png">265.0mm
</table></table>
